:root {
	--navy: #0d3b66;
	--light: #e7e2cf;
	--yellow: #f4d35e;
	--orange: #ee964b;
	--blue: #5bdef5;
	--red: #f95738;
}

.header__container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-top: 1rem;
}
.header__name {
	margin-top: -1rem;
	color: var(--navy);
}
.header__title {
	display: flex;
	justify-content: center;
	align-items: center;
}
.header__subtitle {
	display: flex;
	justify-content: center;
	align-items: center;
	font-style: oblique;
	font-size: 1.2rem;
}