:root {
	--navy: #0d3b66;
	--light: #e7e2cf;
	--yellow: #f4d35e;
	--orange: #ee964b;
	--blue: #5bdef5;
	--red: #f95738;
}

.nav__container{
	background: var(--navy);
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 0 3px 7px 0 rgb(13, 59, 102, 0.2);
}

ul {
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-direction: row;
}

.links {
	color: var(--yellow);
	font-family: 'Cattino';
	font-size: 1.5em;
	text-decoration: none;
	padding: 30px 30px 30px;
	font-weight: 100;
}

.links:hover {
	color: var(--light);
	font-weight: 500;
}
